{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ICT assignment of SHS XII Mutiara Bangsa 3, Created by Maurice Yang and his team using HTML, CSS, Javascript, and Django">
    <meta name="author" content="Maurice Yang">
    <meta name="keywords" content="Todo List, django">
    <link rel="stylesheet" href={% static 'css\style.css' %}>
    <link rel="icon" href={% static 'images\notepad-128.png' %}>
    <title>To Do List</title>
  </head>
  <body>
    <header>
        <h1>To Do List</h1>

        <ul>
        {% if user.is_authenticated %}
        <li><a href={% url 'Home' %} class='link' >Home</a></li>
        <li><a href={% url 'Create' %} class='link' target=>Create</a></li>
        <li><a href={% url 'Lists' %} class='link'>Lists</a></li>
        <li><a href={% url 'Profile' %} class='link'>Profile</a></li>
        <li><a href={% url 'logout' %} class='link'>Logout</a></li>
        {% else %}
        <li><a href={% url 'Home' %} class='link'>Home</a></li>
        <li><a href={% url 'register' %} class='link'>Register</a></li>
        <li><a href={% url 'login' %} class='link'>Login</a></li>
        {% endif %}
        
        </ul>
    </header>

    <div class=content>
        {% block content %}
        {% endblock content %}
    </div>
    <footer>Created by Maurice Yang and his team</footer>
    <p id='is_authenticated'>{{user.is_authenticated}}</p>
    <script src={% static 'js\script.js' %}></script>
  </body>
</html>