{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='fullscreen'>
<video loop muted autoplay>
<source src={% static 'images\background_video.mp4' %} type="video/mp4">
</video>
<div class='start-plan'>
<p id='plan'>Start Planning</p>
<a href={% url 'Get Started' %} id='get-started'>Get Started</a>
</div>
</div>
<div class='team'>
<h2>Meet Our Team</h2>
<div class='profile-card'>
<img src={% static 'images/beban/tanaman.png' %}>
<p class='kelas'>Valencia Thania Halim</p>
<p class='kelas'>SHS XII Social</p>
<a href='//www.instagram.com/valenciathania_/' target='_blank'>Instagram</a>
</div>
<div class='profile-card'>
<img src={% static 'images/beban/dukun.png' %}>
<p class='kelas'>Nicholas Pratama</p>
<p class='kelas'>SHS XII Science</p>
<a href='//www.instagram.com/pasanta1712/' target='_blank'>Instagram</a>
</div>
<div class='profile-card'>
<img src={% static 'images/hard_carry.png' %}>
<p class='kelas'>Maurice Yang</p>
<p class='kelas'>SHS XII Science</p>
<a href='//www.instagram.com/maurice_yang/' target='_blank'>Instagram</a>
</div>
<div class='profile-card'>
<img src={% static 'images/beban/badak_bercula.png' %}>
<p class='kelas'>Sheren Wijaya</p>
<a href='//www.instagram.com/dakpour.id/' target='_blank'>Instagram</a>
<p class='kelas'>SHS XII Science</p>
</div>
<div class='profile-card'>
<img src={% static 'images\beban\pritong.png' %}>
<p class='kelas'>Prita Falenshia</p>
<p class='kelas'>SHS XII Science</p>
<a href='//www.instagram.com/pritaa.f_/' target='_blank'>Instagram</a>
</div>
<div class='filler'>
<h1>SHS XII Mutiara Bangsa 3</h1>
</div>
</div>
{% endblock content %}
